* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 76, 100, 0.75),rgba(67, 16, 149, 0.1)),url(TURTLE.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    width: 96%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #053249;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #080b0b;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    left: 5%;
    color: #fff;
}

.middle-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.info-box {
    background-color: #053249;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.right-box {
    text-align: center;
}

button {
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

.footer {
    background-color: #009688;
    text-align: center;
    padding: 0,1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:white;
}
